<!-- intro page -->
<div class="container">
  <img src="assets/images/brdnk-vision-sWATtqnhQmw-unsplash.jpg"
       alt="background image"
       class="bg-img">
  <img src="assets/images/coffee-time-logo-png_91570.jpg"
       alt="company logo"
       class="logo">
  <h1 class="intro-text">What time is it... ☕</h1>
  <button class="btn-navigate-next">
    >
  </button>
</div>

<!-- start page -->
<div class="container">
  <img src="assets/images/brdnk-vision-sWATtqnhQmw-unsplash.jpg"
       alt="background image"
       class="bg-img">
  <img src="assets/images/coffee-time-logo-png_91570.jpg"
       alt="company logo"
       class="logo">
  <h1 class="intro-text">What time is it... ☕</h1>
</div>

<ng-template #introView>

</ng-template>
